@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
.work-sans-font {
  font-family: "Work Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px 20px;
}
.button {
  padding: 10px 20px;
  background-color: #fd8f0e;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
}
.button:hover {
  background-color: rgb(97, 97, 219);
  color: white;
}
header {
  background-color: #fff4e7;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: #050e6a;
}
nav ul {
  display: flex;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #050e6a;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 5px;
}
nav ul li a:hover {
  color: #ffffff;
  background-color: tomato;
}

/* text-hero */
.text-hero-title {
  font-size: 40px;
}
.text-hero-container {
  max-width: 900px;
  text-align: center;
  margin-top: 40px;
}
.text-hero-container p {
  color: #727272;
  margin: 15px 0;
}

/* hero */
.hero img {
  max-width: 100%;
  border-radius: 10px;
}

/* main */
/* our features  */
.ourFeaturesContainer {
  display: flex;
  align-items: center;
  gap: 50px;
}
.teamContainer {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.teamContainer div img {
  width: 100%;
}
.features-text-container {
  width: 50%;
}
.features-text-container p {
  margin: 15px 0;
  color: #727272;
}
.features-text-container span {
  font-size: 30px;
}
.color-span {
  color: #727272;
}
.color-span2 {
  font-weight: 600;
}
.color-span3 {
  color: #fd8f0e;
  font-weight: 600;
}
